How can you cancatinate two tuples?

In [1]:
tup1 = (1, "a", True)
tup2 = (4, 5, 6)

In [2]:
tup1 + tup2

(1, 'a', True, 4, 5, 6)

In [3]:
tup2 + tup1

(4, 5, 6, 1, 'a', True)

How can you initialise a 5*5 Numpy Array with only zeros

In [6]:
import numpy as np

n1 = np.zeros((5,5))
n1

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

what is pandas series?

In [8]:
import pandas as pd

data = ["1", 7, "Sumit", 0.77]

In [12]:
series = pd.Series(data)
print(series)
print(type(series))

0        1
1        7
2    Sumit
3     0.77
dtype: object
<class 'pandas.core.series.Series'>

What is the use of Group by function in pandas?

In [13]:
df = pd.DataFrame({'Vehicle': ['kia', 'Lamborgini','Pulsar','KTM100'],
                   'type' :['car', 'car', 'motorcycle','motorcycle']})

In [14]:
print(df)

      Vehicle        type
0         kia         car
1  Lamborgini         car
2      Pulsar  motorcycle
3      KTM100  motorcycle

By using GroupBy operation

In [16]:
df.groupby('type').count()

            Vehicle
type
car               2
motorcycle        2

How to create a DatFrame from the list?

In [21]:
df = pd.DataFrame()

bikes = ["baja", "honda", "tvs"]
cars  = ["rangeRiver", "Volkswagan", "Marcidize"]

df['bikes'] = bikes
df['cars']  = cars

print(df)

   bikes        cars
0   baja  rangeRiver
1  honda  Volkswagan
2    tvs   Marcidize

How to create a DatFrame from the Dictionary?

In [24]:
df = pd.DataFrame()

bikes = ["baja", "honda", "tvs"]
cars  = ["rangeRiver", "Volkswagan", "Marcidize"]

d = {"cars": cars, "bikes": bikes}

df = pd.DataFrame(d)

print(df)

         cars  bikes
0  rangeRiver   baja
1  Volkswagan  honda
2   Marcidize    tvs

In [29]:
df = pd.DataFrame()


bikes = ["baja", "honda", "tvs"]
cars  = ["rangeRover", "Volkswagan", "Marcidize"]

d = {"cars": cars, "bikes": bikes}

df = pd.DataFrame(d)

print(df)

         cars  bikes
0  rangeRover   baja
1  Volkswagan  honda
2   Marcidize    tvs

How to access the data from a DataFrame using a value as Index

In [30]:
df = pd.DataFrame()


bikes = ["bajaj", "honda", "tvs"]
cars  = ["rangeRover", "Volkswagan", "Marcidize"]

d = {"cars": cars, "bikes": bikes}

df = pd.DataFrame(d)

a = [10, 20, 30]

df.index = a

df.loc[10]

cars     rangeRover
bikes         bajaj
Name: 10, dtype: object

FindOut The measures of central tendency for this 
NumPy array:np.array([1,5,5,3,100,4,48])

In [32]:
import numpy as np

n1 = np.array([1,5,5,3,100,4,48])

print(np.mean(n1))
print(np.median(n1))
print(np.std(n1))

23.714285714285715
5.0
34.73044891205198

How do you get a list of all the keys in a Dictionary?

In [33]:
dict = {1:'a', 2:'b', 3:'c'}

dict.keys()

dict_keys([1, 2, 3])

How can you capitilize the first letter of the String?

In [37]:
d = "blissful"

d.capitalize()

'Blissful'

How can you insert an element at a given index in Python?

In [40]:
list = [0,1,2,3,4,5,6,7,8]

list.insert(6,10)

print(list)

[0, 1, 2, 3, 4, 5, 10, 6, 7, 8]

In [41]:
list = [0,1,2,3,4,5,6,7,8]

list.insert(10,6)

print(list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 6]

How will you remove duplicate elements from a list?

In [1]:
my_list = ["s","d","a","p","s"]

my_list = list(dict.fromkeys(my_list))

print(my_list)

['s', 'd', 'a', 'p']

What is a map() function in Python?

In [2]:
def add_funct(n):
    return n * 3

num = (1,2,3,4,5,6,7)

result = map(add_funct,num)

print(list(result))

[3, 6, 9, 12, 15, 18, 21]

In [1]:
def add_funct(n):
    return n * 3
num = (1,2,3,4,5,6,7)

result = map(add_funct,num)

print(list(result))

[3, 6, 9, 12, 15, 18, 21]

How can be number can be converted to string?

In [3]:
n = 10

print(type(n))

new_n = str(n)

print(type(new_n))

<class 'int'>
<class 'str'>

what is the len() function?

In [4]:
s  = "Blissful"

print(len(s))

8

what is the split() function?

In [7]:
letters = ("A, B, C")

n = letters.split(",")

print(n)

['A', ' B', ' C']

In [17]:
letters = ("Sumit, Pranali")

n  = letters.split(",")

print(n)

['Sumit', ' Pranali']

what is the use of LAMBDA function?

In [21]:
triple = lambda x:x * 3

print(triple(7))

21

In [22]:
mul = lambda a,b : a * b

print(mul(2,3))

6

In [29]:
def factorial(a):
    if a == 1:
        return 1
    
    else:
        return (a * factorial(a-1))
input_number = 20

print("The factorial of" ,input_number, "is", factorial(input_number))

The factorial of 20 is 2432902008176640000